@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$imgWidth : 200px;
$mainFont : 'Open Sans', sans-erif;
.app {
    background-color: red;
    border-style: solid;
    border-width: 5px;
}
.example {
    h1 {
        color: green;
    }
}
.title {
    
    background-color: red;
    border-style: solid;
    border-width: 5px;
}
.banner{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 100%;
}
.navigator {
    width: 100%;
    height: 5vh;
    background-color: #37b977;
   
    
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.dispIB {
    display: inline-block;
}


.product { 
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #00cc66;
    margin: auto;
    width: 60%;
    padding: 5px;
    position: relative;
    margin-top: 10px;
        height: 180px;

   
    .model {
        position: absolute;
        top: 10px;
        left: 10px;
        font-weight: bold;
        font-size: 22px;
    }
    .price {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .productImg {
       width: $imgWidth;
        margin: 10px;
        position: absolute;
        top: 32px;
        left: 0px;
        display: block;
        margin-top: 20px;
    }
    .rating {
        
        position: absolute;
        right: 0px;
        bottom: 0px;
        .stars{
            width: 110px;
        }
        h3 {
            font-size: 10px;
            margin-bottom: 0px;
        }
    }
    ul {
        position: absolute;
        top: 20px + 22px;
        left: $imgWidth;
        margin: 0;
    }
    
}